* {
    margin: 0;
    padding: 0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	overflow: hidden;
}

.wraper {
    display: flex;
    min-height: -webkit-fill-available;
}
.box1:hover, .box2:hover, .box3:hover {
	opacity: 1;
	transition: all 0.33s;
	transform: scale(1.05)
}
.box1, .box2, .box3 {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
	opacity: 1;
	transition: all 0.33s;
}

.box1 {
    background-image: url(../images/respawn/1st.png);
    background-size: 100% 100%;
}

.box2 {
    background-image: url(../images/respawn/2nd.png);
    background-size: 100% 100%;
}

.box3 {
    background-image: url(../images/respawn/3th.png);
    background-size: 100% 100%;
}

.respawnOnExit, .respawnFraction, .respawnHome {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    width: 81.75%;
    height: 49.6%;
    position: relative;
}

.text {
    margin-top: 4.75%;
    font-family: "Montserrat";
    color: #d5d5d5;
    font-size: 2vw;
    line-height: 5.6vh;
    text-align: center;
}

.respawnOnExit p span, .respawnFraction p span, .respawnHome p span {
    font-family: "Montserrat";
	font-weight: 700;
	color: #d5d5d5
}

.logoImages {
    display: block;
    width: 27.42%;
}

.textDescription {
    font-family: "Montserrat";
    font-size: 1vw;
    color: #ffffff;
    margin-top: 4.7%;
    text-align: center;
}

.button {
    width: 30.5%;
	outline: none;
    height: 13.33%;
    font-family: "Montserrat";
    font-size: 1vw;
    color: #ffffff;
    border: 2px solid #ffffff50;
    border-radius: 5px;
    background: none;
    margin-top: 60px;
    transition: 0.5s;
}

    .button:hover {
        box-shadow: 0 0px 50px 10px #0de64673;
        background-color: #0de646;
        border: 2px solid #0de646;
    }

.noBox2 {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/respawn/no2nd.png);
    background-size: 100% 100%;
    margin: 0 1px;
}

.noHome, .noFraction {
    width: 81.75%;
    height: 35.18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.notext {
    font-family: "Montserrat";
    color: #c4c4c4;
    font-size: 2vw;
    line-height: 4vh;
    text-align: center;
}

.noBox3 {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../images/respawn/no3th.png);
    background-size: 100% 100%;
}

.noText span {
    font-family: "Montserrat";
}

.lockImg {
    height: 39.14%;
    position: absolute;
    bottom: 0px;
}
