<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="fonts/font/stylesheet.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet">
	<script src="./js/library/vue.js"></script>
</head>

<body>
	<div class="allped">
		<div class="ped">
			<div v-if="style == 0" class="dialog">
				<div class="name">
				{{header}}
				</div>
				<div class="line"></div>
				<div class="textblock">
					<div v-if="fracid != pedtype" class="text">
						Привет, думаю лучше тебе тут не появляться, потому что ты на чужой территори
					</div>
					<div v-if="fracid == pedtype" class="text">
						Привет, как день прошел, чем могу быть полезен для тебя сегодня?
					</div>
				</div>
				<div style="bottom: 8.5vh;" class="btns">
					<div v-if="fracid != pedtype" onclick="closemenu()" class="btnno">Понял</div>
					<div v-if="fracid == pedtype" onclick="closemenu()" class="btnyes2">Спасибо, я сам</div>
					<div @click="gostyle(1)" class="btnyes">Где я?</div>
					<div v-if="fracid == pedtype" @click="gostyle(3)" class="btnno">Есть для меня задания?</div>
				</div>
			</div>
			<div v-if="style == 1" class="dialog">
				<div class="name">
				{{header}}
				</div>
				<div class="line"></div>
				<div class="textblock2">
					<div v-if="fracid != pedtype" class="text">
					Уходи лучше отсюда, пока местные ребята не пришли и тебе по лицу не надавали!
					</div>
					<div v-if="fracid == pedtype" class="text">
						Ты что забыл что-ли? 
					</div>
				</div>
				<div style="position: absolute; bottom: 11vh;" class="btns">
					<div onclick="closemenu()" class="btnyes3">Понял...</div>
				</div>
			</div>
			<div v-if="style == 2" class="dialog">
				<div class="name">
				{{header}}
				</div>
				<div class="line"></div>
				<div class="textblock2">
					<div class="text">
					Смотри, даю тебе миссию по угоне транспорта, координаты и всю информацию пришлю на твой GPS
					</div>
				</div>
				<div style="position: absolute; bottom: 11vh;" class="btns">
					<div @click="StarHijacking()" class="btnyes3">Отлично</div>
				</div>
			</div>
			<div v-if="style == 4" class="dialog">
				<div class="name">
				{{header}}
				</div>
				<div class="line"></div>
				<div class="textblock2">
					<div class="text">
					Смотри, даю тебе контракт на ограбление дома, координаты и всю информацию пришлю на твой GPS
					</div>
				</div>
				<div style="position: absolute; bottom: 11vh;" class="btns">
					<div @click="StarHijackingHouse()" class="btnyes3">Отлично</div>
				</div>
			</div>
			<div v-if="style == 3" class="dialog">
				<div class="name">
				{{header}}
				</div>
				<div class="line"></div>
				<div class="textblock2">
					<div class="text">
					Естествено есть задания для тебя, выбирай одно из всего списка, но смотри это на твой страх и риск.
					</div>
				</div>
				<div style="position: absolute; bottom: 11vh;" class="btns">
					<div @click="gostyle(2)" class="btnyes3">Угон авто</div>
					<div @click="gostyle(4)" class="btnno" style="margin-top: 1vw;">Контракт на дом</div>
					<div onclick="closemenu()" class="btnyes2" style="top: 4.5vw;">Может потом?</div>
				</div>
			</div>
		</div>
	</div>
    <script src="./js/index.js"></script>
	<script src="./js/library/jquery-3.2.1.min.js"></script>
</body>
</html>